<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Chat App</title>
   <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
   <script defer src="script.js"></script>
   <style>
    @font-face { font-family: 'slaytanic'; src: url('../public/slaytanic/Slaytanic.ttf'); } 
    body {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      width: 100vw;
      height: 100vh;
    }
    #main-container-title{
      width: 100%;
      text-align: center;
      font-family: slaytanic, Arial;
      font-size: 8em;
      margin-top: 0.1em;
      margin-bottom: 0.1em;
    }

    #join-public-room button:hover {
      background-color: grey;
   }

    #create-public-room{
      width: 100%;
      text-align: center;

    }

   #create-public-room button:hover {
      background-color: grey;
   }

   #create-private-room{
      width: 100%;
      text-align: center;
    }

   #create-private-room button:hover {
      background-color: grey;
   }

   .main-btn {
      width: 15em;
      background-color: white;
      padding: 1em;
      font-size: 1em;
      margin: 1em;
   }

   </style>
</head>
<body>
   <div id="main-container-title">Collab Drums</div>
   <div id="join-public-room">
      <form action="/join-public-room" method="GET">
       <button class="main-btn" type="submit">Join Public Room</button>
      </form>
   </div>
   <div id="create-public-room">
      <form action="/create-public-room" method="POST">
       <button class="main-btn" type="submit">Create Public Room</button>
      </form>
   </div>
   <div id="create-private-room">
      <form action="/create-private-room" method="POST">
       <button class="main-btn" type="submit">Create Private Room</button>
      </form>
   </div>
</body>
</html>