<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script>
    const roomName = "<%= roomId %>"
  </script>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
  <style>
    @font-face { font-family: 'slaytanic'; src: url('../public/slaytanic/Slaytanic.ttf'); } 
    body {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100vw;
      height: 100vh;
    }
    #main-container-title{
      width: 100%;
      text-align: center;
      font-family: slaytanic, Arial;
      font-size: 8em;
      margin-top: 0.1em;
      margin-bottom: 0.1em;
    }

    #drum-grid{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    #control-panel{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .control-btn{
      height: 3em;
      width: 3em;
      margin: 0.5em;
    }
    .control-btn:hover{

    }
    #bpm{
      width: 3em;
      text-align: center;
      font-size: 1.5rem;
    }
    .instrument{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 1em;
    }
    .drum-box{
      height: 2em;
      width: 2em;
      border-left: solid black 2px;
      border-right: solid black 2px;
      border-top: solid black 4px;
      border-bottom: solid black 4px;
    }

    .drum-box:hover{
      background-color: grey;
    }
    .first{
      border-left: solid black 4px;
    }
    .fourth{
      margin-right: 0.25em;
      border-right: solid black 4px;
    }
    .last{
      border-right: solid black 4px;
    }
    .add-sample{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1em;
      flex-wrap: wrap;
      width: 10em;
    }
    .sample-icon{
      height: 3em;
      width: 3em;
      margin-bottom: 0.5em;

    }
    .add-sample:hover{
      background-color: #ff9300;
    }
    .add-sample-descrip{
      width: 100%;
      text-align: center;
    }

    .highlighted{
      border-color: #ff9300;
    }

    .clicked{
      background-color: #00b341;
    }
  </style>
</head>
<body>
  <div id="main-container">
    <div id="message-container"></div>
      <form id="send-container">
        <input type="text" id="message-input">
        <button type="submit" id="send-button">Send</button>
      </form>
    </div>
    <div id="main-container-title">Collab Drums</div>
    <div id="drum-grid">
      <div id="control-panel">
        <img class="control-btn" src="play.svg"></img>
        <img class="control-btn" src="pause.svg"></img>
        <img class="control-btn" src="trash.svg"></img>
        <input type="number" id="bpm" value="120">
      </div>
      <div class="instrument" id="instrument-1">
        <div class="add-sample">
          <img class="sample-icon" src= "vinyl.svg"></img>
          <div class="add-sample-descrip">Add Sample</div>
        </div>
        <div class="drum-box first step-1"></div>
        <div class="drum-box step-2"></div>
        <div class="drum-box step-3"></div>
        <div class="drum-box fourth step-4"></div>
        <div class="drum-box first step-5"></div>
        <div class="drum-box step-6"></div>
        <div class="drum-box step-7"></div>
        <div class="drum-box fourth step-8"></div>
        <div class="drum-box first step-9"></div>
        <div class="drum-box step-10"></div>
        <div class="drum-box step-11"></div>
        <div class="drum-box fourth step-12"></div>
        <div class="drum-box first step-13"></div>
        <div class="drum-box step-14"></div>
        <div class="drum-box step-15"></div>
        <div class="drum-box fourth step-16"></div>
        <div class="drum-box first step-17"></div>
        <div class="drum-box step-18"></div>
        <div class="drum-box step-19"></div>
        <div class="drum-box fourth step-20"></div>
        <div class="drum-box first step-21"></div>
        <div class="drum-box step-22"></div>
        <div class="drum-box step-23"></div>
        <div class="drum-box fourth step-24"></div>
        <div class="drum-box first step-25"></div>
        <div class="drum-box step-26"></div>
        <div class="drum-box step-27"></div>
        <div class="drum-box fourth step-28"></div>
        <div class="drum-box first step-29"></div>
        <div class="drum-box step-30"></div>
        <div class="drum-box step-31"></div>
        <div class="drum-box last step-32"></div>
      </div>
      
      <div class="instrument" id="instrument-2">
        <div class="add-sample">
          <img class="sample-icon" src= "vinyl.svg"></img>
          <div class="add-sample-descrip">Add Sample</div>
        </div>
        <div class="drum-box first step-1"></div>
        <div class="drum-box step-2"></div>
        <div class="drum-box step-3"></div>
        <div class="drum-box fourth step-4"></div>
        <div class="drum-box first step-5"></div>
        <div class="drum-box step-6"></div>
        <div class="drum-box step-7"></div>
        <div class="drum-box fourth step-8"></div>
        <div class="drum-box first step-9"></div>
        <div class="drum-box step-10"></div>
        <div class="drum-box step-11"></div>
        <div class="drum-box fourth step-12"></div>
        <div class="drum-box first step-13"></div>
        <div class="drum-box step-14"></div>
        <div class="drum-box step-15"></div>
        <div class="drum-box fourth step-16"></div>
        <div class="drum-box first step-17"></div>
        <div class="drum-box step-18"></div>
        <div class="drum-box step-19"></div>
        <div class="drum-box fourth step-20"></div>
        <div class="drum-box first step-21"></div>
        <div class="drum-box step-22"></div>
        <div class="drum-box step-23"></div>
        <div class="drum-box fourth step-24"></div>
        <div class="drum-box first step-25"></div>
        <div class="drum-box step-26"></div>
        <div class="drum-box step-27"></div>
        <div class="drum-box fourth step-28"></div>
        <div class="drum-box first step-29"></div>
        <div class="drum-box step-30"></div>
        <div class="drum-box step-31"></div>
        <div class="drum-box last step-32"></div>
      </div>

      <div class="instrument" id="instrument-3">
        <div class="add-sample">
          <img class="sample-icon" src= "vinyl.svg"></img>
          <div class="add-sample-descrip">Add Sample</div>
        </div>
        <div class="drum-box first step-1"></div>
        <div class="drum-box step-2"></div>
        <div class="drum-box step-3"></div>
        <div class="drum-box fourth step-4"></div>
        <div class="drum-box first step-5"></div>
        <div class="drum-box step-6"></div>
        <div class="drum-box step-7"></div>
        <div class="drum-box fourth step-8"></div>
        <div class="drum-box first step-9"></div>
        <div class="drum-box step-10"></div>
        <div class="drum-box step-11"></div>
        <div class="drum-box fourth step-12"></div>
        <div class="drum-box first step-13"></div>
        <div class="drum-box step-14"></div>
        <div class="drum-box step-15"></div>
        <div class="drum-box fourth step-16"></div>
        <div class="drum-box first step-17"></div>
        <div class="drum-box step-18"></div>
        <div class="drum-box step-19"></div>
        <div class="drum-box fourth step-20"></div>
        <div class="drum-box first step-21"></div>
        <div class="drum-box step-22"></div>
        <div class="drum-box step-23"></div>
        <div class="drum-box fourth step-24"></div>
        <div class="drum-box first step-25"></div>
        <div class="drum-box step-26"></div>
        <div class="drum-box step-27"></div>
        <div class="drum-box fourth step-28"></div>
        <div class="drum-box first step-29"></div>
        <div class="drum-box step-30"></div>
        <div class="drum-box step-31"></div>
        <div class="drum-box last step-32"></div>
      </div>

      <div class="instrument" id="instrument-4">
        <div class="add-sample">
          <img class="sample-icon" src= "vinyl.svg"></img>
          <div class="add-sample-descrip">Add Sample</div>
        </div>
        <div class="drum-box first step-1"></div>
        <div class="drum-box step-2"></div>
        <div class="drum-box step-3"></div>
        <div class="drum-box fourth step-4"></div>
        <div class="drum-box first step-5"></div>
        <div class="drum-box step-6"></div>
        <div class="drum-box step-7"></div>
        <div class="drum-box fourth step-8"></div>
        <div class="drum-box first step-9"></div>
        <div class="drum-box step-10"></div>
        <div class="drum-box step-11"></div>
        <div class="drum-box fourth step-12"></div>
        <div class="drum-box first step-13"></div>
        <div class="drum-box step-14"></div>
        <div class="drum-box step-15"></div>
        <div class="drum-box fourth step-16"></div>
        <div class="drum-box first step-17"></div>
        <div class="drum-box step-18"></div>
        <div class="drum-box step-19"></div>
        <div class="drum-box fourth step-20"></div>
        <div class="drum-box first step-21"></div>
        <div class="drum-box step-22"></div>
        <div class="drum-box step-23"></div>
        <div class="drum-box fourth step-24"></div>
        <div class="drum-box first step-25"></div>
        <div class="drum-box step-26"></div>
        <div class="drum-box step-27"></div>
        <div class="drum-box fourth step-28"></div>
        <div class="drum-box first step-29"></div>
        <div class="drum-box step-30"></div>
        <div class="drum-box step-31"></div>
        <div class="drum-box last step-32"></div>
      </div>

      <div class="instrument" id="instrument-5">
        <div class="add-sample">
          <img class="sample-icon" src= "vinyl.svg"></img>
          <div class="add-sample-descrip">Add Sample</div>
        </div>
        <div class="drum-box first step-1"></div>
        <div class="drum-box step-2"></div>
        <div class="drum-box step-3"></div>
        <div class="drum-box fourth step-4"></div>
        <div class="drum-box first step-5"></div>
        <div class="drum-box step-6"></div>
        <div class="drum-box step-7"></div>
        <div class="drum-box fourth step-8"></div>
        <div class="drum-box first step-9"></div>
        <div class="drum-box step-10"></div>
        <div class="drum-box step-11"></div>
        <div class="drum-box fourth step-12"></div>
        <div class="drum-box first step-13"></div>
        <div class="drum-box step-14"></div>
        <div class="drum-box step-15"></div>
        <div class="drum-box fourth step-16"></div>
        <div class="drum-box first step-17"></div>
        <div class="drum-box step-18"></div>
        <div class="drum-box step-19"></div>
        <div class="drum-box fourth step-20"></div>
        <div class="drum-box first step-21"></div>
        <div class="drum-box step-22"></div>
        <div class="drum-box step-23"></div>
        <div class="drum-box fourth step-24"></div>
        <div class="drum-box first step-25"></div>
        <div class="drum-box step-26"></div>
        <div class="drum-box step-27"></div>
        <div class="drum-box fourth step-28"></div>
        <div class="drum-box first step-29"></div>
        <div class="drum-box step-30"></div>
        <div class="drum-box step-31"></div>
        <div class="drum-box last step-32"></div>
      </div>

      <div class="instrument" id="instrument-6">
        <div class="add-sample">
          <img class="sample-icon" src= "vinyl.svg"></img>
          <div class="add-sample-descrip">Add Sample</div>
        </div>
        <div class="drum-box first step-1"></div>
        <div class="drum-box step-2"></div>
        <div class="drum-box step-3"></div>
        <div class="drum-box fourth step-4"></div>
        <div class="drum-box first step-5"></div>
        <div class="drum-box step-6"></div>
        <div class="drum-box step-7"></div>
        <div class="drum-box fourth step-8"></div>
        <div class="drum-box first step-9"></div>
        <div class="drum-box step-10"></div>
        <div class="drum-box step-11"></div>
        <div class="drum-box fourth step-12"></div>
        <div class="drum-box first step-13"></div>
        <div class="drum-box step-14"></div>
        <div class="drum-box step-15"></div>
        <div class="drum-box fourth step-16"></div>
        <div class="drum-box first step-17"></div>
        <div class="drum-box step-18"></div>
        <div class="drum-box step-19"></div>
        <div class="drum-box fourth step-20"></div>
        <div class="drum-box first step-21"></div>
        <div class="drum-box step-22"></div>
        <div class="drum-box step-23"></div>
        <div class="drum-box fourth step-24"></div>
        <div class="drum-box first step-25"></div>
        <div class="drum-box step-26"></div>
        <div class="drum-box step-27"></div>
        <div class="drum-box fourth step-28"></div>
        <div class="drum-box first step-29"></div>
        <div class="drum-box step-30"></div>
        <div class="drum-box step-31"></div>
        <div class="drum-box last step-32"></div>
      </div>

      <div class="instrument" id="instrument-7">
        <div class="add-sample">
          <img class="sample-icon" src= "vinyl.svg"></img>
          <div class="add-sample-descrip">Add Sample</div>
        </div>
        <div class="drum-box first step-1"></div>
        <div class="drum-box step-2"></div>
        <div class="drum-box step-3"></div>
        <div class="drum-box fourth step-4"></div>
        <div class="drum-box first step-5"></div>
        <div class="drum-box step-6"></div>
        <div class="drum-box step-7"></div>
        <div class="drum-box fourth step-8"></div>
        <div class="drum-box first step-9"></div>
        <div class="drum-box step-10"></div>
        <div class="drum-box step-11"></div>
        <div class="drum-box fourth step-12"></div>
        <div class="drum-box first step-13"></div>
        <div class="drum-box step-14"></div>
        <div class="drum-box step-15"></div>
        <div class="drum-box fourth step-16"></div>
        <div class="drum-box first step-17"></div>
        <div class="drum-box step-18"></div>
        <div class="drum-box step-19"></div>
        <div class="drum-box fourth step-20"></div>
        <div class="drum-box first step-21"></div>
        <div class="drum-box step-22"></div>
        <div class="drum-box step-23"></div>
        <div class="drum-box fourth step-24"></div>
        <div class="drum-box first step-25"></div>
        <div class="drum-box step-26"></div>
        <div class="drum-box step-27"></div>
        <div class="drum-box fourth step-28"></div>
        <div class="drum-box first step-29"></div>
        <div class="drum-box step-30"></div>
        <div class="drum-box step-31"></div>
        <div class="drum-box last step-32"></div>
      </div>

    </div>
  </div>
</body>
</html>